<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>UWIVotes</title>
    <link  rel="stylesheet" href="../view/css/styles.css" type="text/css">
   <!-- <link rel="icon" href="imgs/bug.png"> -->
    <script src="../view/js/app.js"></script>
</head>
 <!----> 
 <!---cd Desktop/UWI\ 2022/SWEN3920/weKAN   -->
<body> 
    <div class="homePage"> <!-- <p>navbar</p> -->
        <div class="nav">
            <div class="navListLeft">
                <!-- <p>left</p> -->
                <ul>
                    <li><a href="#"> <img id="navBarLogo" src="../view/imgs/UWIVotes.png" alt=""></a></li>
                    <li><a href="#" id="navCandidates" class="redLink">Election</a></li>
                    <li><a href="#" id="navResults" class="redLink">Edit Candidates</a></li>
                </ul>
            </div>
            <div class="navListRight">
                <!-- <p>right</p> -->
                <ul>
                    <a href="#" id="navLogOut" class="blackLink">Log Out</a>
                </ul>
            </div>
       </div>

       <div class="pageText">
            <p>Welcome to</p>
            <p>UWIVotes Admin Center</p> <!--change wording and add logo-->
       </div>
    
        <div>
            <a href="#">Create Election</a>
            <a href="#">Add Candidate</a>
            <a href="#">Create Election</a>
        </div>
    
       
    </div>
    
    <aside>

    </aside>

</body>
</html>