<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>UWIVotes</title>
    <link  rel="stylesheet" href="../view/css/stylesAdmin.css" type="text/css">
   <!-- <link rel="icon" href="imgs/bug.png"> -->
    <script src="../view/js/app.js"></script>
</head>
 <!----> 
 <!---cd Desktop/UWI\ 2022/SWEN3920/weKAN   -->
<body> 
    <div class="homePage"> <!-- <p>navbar</p> -->
        <div class="nav">
            <div class="navListLeft">
                <!-- <p>left</p> -->
                <ul>
                    <li><a href="#"> <img id="navBarLogo" src="../view/imgs/UWIVotes.png" alt=""></a></li>
                </ul>
            </div>
            <div class="navListRight">
                <!-- <p>right</p> -->
                <ul>
                    <a href="#" id="navLogOut" class="blackLink">Log Out</a>
                </ul>
            </div>
       </div>

       <div class="pageText">
            
       </div>
    
        <div class="adminBody">
           
        </div>
        <div class="leftContent">

            <div class="adminNavBar">
                <ul>
                    <li ><a class="navBarAdmin hightlightNav" href="#">Election Creation</a></li>
                    <li class="li1"><a class="navBarAdmin" href="#">Election Modifications</a></li>
                    <li class="li1"><a class="navBarAdmin" href="#">Results Modifications</a></li>
                    <li class="li1"><a class="navBarAdmin" href="#">View Results</a></li>
                    <li class="li1"><a class="navBarAdmin" href="#">Register Voters</a></li>
                </ul>
            </div>
            

        </div>
        <div class="rightContent">
            <div class="createElectionSection">
                <h4>Create Poll</h4>

                <label class="label" for="Polling Name">Polling Name</label><br>
                <input class="input" type="text" id="electionName" placeholder="Enter Election Name Here"><br>
                <br>
                <label class="label" for="Start Date">Start Date (yyyy-mm-dd)</label><br>
                <input class="input" type="tel" id="startDate" placeholder="Start Date"><br>
                <br>
                <label class="label" for="End Date">End Date (yyyy-mm-dd)</label><br>
                <input class="input" type="text" id="endDate" placeholder="End Date"><br>
                <br>
                <button id="createElection" class="redButton" type="submit"> Create Election </button>
                <a href="#" class="redLink" id="cancelCreateElection">Cancel</a>
                
                
            </div>
           
            <br>
            <div class="createElectionSection">
                <h4>Candidate Information</h4>
            
                <label class="label" for="firstName">First Name</label><br>
                <input class="input" type="text" id="firstName" placeholder="e.g. John"><br>
                <br>
                <label class="label" for="lastName">Last Name</label><br>
                <input class="input" type="text" id="lastName" placeholder="e.g. Brown"><br>
                <br>
                <label class="label" for="email">Email</label><br>
                <input class="input" type="text" id="email" placeholder="e.g. john.brown@mymona.uwi.edu"><br>
                <br>
                <label class="label" for="hall">Attached Hall</label><br>
                <select name="hallsOfLiving" id="hallsOfLivingDropdown">
                    
                </select>

                <br>
                <br>
                <label class="label" for="faculty">Faculty of Study</label><br>
                <select name="facultyOfStudy" id="facultyOfStudyDropdown">
                    
                </select>
                <br>
                <br>
                <label class="label" for="position">Elect Position</label><br>
                <select name="electPositions" id="electPositionsDropdown">

                </select>
                <br>
                <br>
                <label class="label" for="About">About</label><br>
                <textarea id="about"class="input" type="text" placeholder="Enter the candidates' information...."></textarea>
                <br>
                <!--<textarea   ></textarea> -->
                <br>
                <button id="addCandidate" class="redButton" type="submit"> Add Candidate</button>
                <a href="#" class="redLink" id="cancelCreateElection">Cancel</a>
                <div id="errorMessage"><i></i></div> <br>
            </div>
        </div>
        
    
       
    </div>
    
    <aside>
    </aside>

</body>
</html>