<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>UWIVotes</title>
    <link  rel="stylesheet" href="../view/css/stylesAdmin.css" type="text/css">
   <!-- <link rel="icon" href="imgs/bug.png"> -->
    <script src="../view/js/app.js"></script>
</head>
 <!----> 
 <!---cd Desktop/UWI\ 2022/SWEN3920/weKAN   -->
<body> 
    <div class="homePage"> <!-- <p>navbar</p> -->
        <div class="nav">
            <div class="navListLeft">
                <!-- <p>left</p> -->
                <ul>
                    <li><a href="#"> <img id="navBarLogo" src="../view/imgs/UWIVotes.png" alt=""></a></li>
                </ul>
            </div>
            <div class="navListRight">
                <!-- <p>right</p> -->
                <ul>
                    <a href="#" id="navLogOut" class="blackLink">Log Out</a>
                </ul>
            </div>
       </div>

       <div class="pageText">
            
       </div>
    
        <div class="adminBody">
           
        </div>
        <div class="leftContent">

            <div class="adminNavBar">
                <ul>
                    <li ><a href="#" class="navBarAdmin">Election Creation</a></li>
                    <li class="li1"><a class="navBarAdmin" href="#">Election Modifications</a></li>
                    <li class="li1"><a class="navBarAdmin" href="#">Results</a></li>
                    <li class="li1"><a class="navBarAdmin" href="#">View Results</a></li>
                    <li class="li1"><a class="navBarAdmin hightlightNav" href="#">Register Voter</a></li>
                </ul>
            </div>
            

        </div>
        <div class="rightContent">
            <div class="createElectionSection">
                <h4>Voter Information</h4>
                
                <label class="label" for="email">Email</label><br>
                <input class="input" type="text" id="email" placeholder="Email here"><br>    
                
                <label class="label" for="hall">Attached Hall</label><br>
                <select name="hallsOfLiving" id="hallsOfLivingDropdown">
                    
                </select>

                <br>
                <label class="label" for="faculty">Faculty of Study</label><br>
                <select name="facultyOfStudy" id="facultyOfStudyDropdown">

                </select>


                <br>
                <label class="label" for="commuteStatus">Commuter</label><br>
                <select name="commuteStatus" id="commuteStatus">
                    <option value = false>No</option>
                    <option value = true>Yes</option>
                </select>

                <br>
                <label class="label" for="postGradStatus">Post Grad</label><br>
                <select name="postGradStatus" id="postGradStatus">
                    <option value = false>No</option>
                    <option value = true>Yes</option>
                </select>


                <br>
                <br>
                <input id="registerVoter" class="redButton" type="submit" value="Register Voter">
                <a href="#" class="redLink" id="cancelRegisterVoter">Cancel</a>
                <br>
                <div id="errorMessage"><i></i></div> <br>
            </div>
        </div>
        
    
       
    </div>
    
    <aside>
    </aside>

</body>
</html>