<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>UWIVotes</title>
    <link  rel="stylesheet" href="../view/css/styles.css" type="text/css">
   <!-- <link rel="icon" href="imgs/bug.png"> -->
    <script src="../view/js/app.js"></script>
</head>
 <!----> 
 <!---cd Desktop/UWI\ 2022/SWEN3920/weKAN   -->
<body> 
    <div class="homePage"> <!-- <p>navbar</p> -->
        <div class="nav">
            <div class="navListLeft">
                <!-- <p>left</p> -->
                <ul>
                    <li><a href="#"> <img id="navBarLogo" src="../view/imgs/UWIVotes.png" alt=""></a></li>
                    <li><a href="#" id="navCandidates" class="redLink">Election</a></li>
                    <li><a href="#" id="navResults" class="redLink">Edit Candidates</a></li>
                </ul>
            </div>
            <div class="navListRight">
                <!-- <p>right</p> -->
                <ul>
                    <a href="#" id="navLogOut" class="blackLink">Log Out</a>
                </ul>
            </div>
       </div>

       <div class="pageText">
            <p>Start New Election</p>
       </div>
    
        <div class="adminBody">
           
            
            <form> 
                <h4>Polling Information</h4>
                <label for="">Polling Name</label><br>
                <input class="input" type="text" id="" placeholder="Enter Election Name Here"><br>

                <label for="">Upload Student Emails</label><br>
                <input class="input" type="text" id="" placeholder="Enter Election Name Here"><br>


                <h4>Candidate Information</h4>

                <label for="email">Email</label><br>
                <input class="input" type="text" id="email" placeholder="johndoe@uwimona.edu.jm"><br>

                <div id="errorMessage"><i></i></div> <br>
                <input id="getOTPButton" class="redButton" type="submit" value="Create Election">
                <a href="#" class="redLink">Cancel</a>
           
            </form>

        </div>
    
       
    </div>
    
    <aside>

    </aside>

</body>
</html>